.buttonStyle{
    margin: auto;
    vertical-align: middle;
    background-color: black;
    color:white;
    background-blend-mode: color;
    transition: transform .25s;
}
.buttonStyle:active{
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}
.buttonStyle:hover{
    transform: scale(1.2) perspective(1px)
}
.choose-file{
    position: relative;
    background: linear-gradient(black 60%, white);
    border-color:black;
    visibility: transparent;
    color: transparent;            
}
.choose-file::-webkit-file-upload-button{
    color: transparent;            
    background-color: transparent;
    border: dotted;
    border-color: white;
    border-style:groove;
    color:white;
    text-shadow: #FC0 1px 0 10px;
}
